---
import MainLayout from "../../layouts/mainlayout.astro";
---

<MainLayout pageTitle="About Me | Pragyan Pranay">
	<div class="content">
		<h1>About Me </h1>	
		<h2>Academics</h2>
		<p>
			My primary interest lies in Probability,
			Analysis, Algebra and Combinatorics. I 
			currently don't like Statistics much as a
			subject, but I'm going to spend my time 
			getting a hang of it this year. My favourite
			subject back in my olympiad preparation was
			<i>Geometry</i> followed by <i>Number Theory</i>.
			I will academics section short, because he have
			a huge blog for that!
		</p>

		<h2>Beyond Academics</h2>

		<p>
			I really enjoy playing badminton, and I'll be
			training my fitness over this summer to get
			better at the sport. Chess has been a lost
			interest of mine. I used to play fairly well
			in school, and I had even managed to become a
			part of my school team. Sadly, we were always
			slightly behind and kept losing in the final
			rounds of major tournaments, never making it
			to Nationals. It was the typical Indian
			household where sports were never considered
			a serious career option. I don't particularly
			object to it considering our family
			circumstances, but I don't support it either.
			Still, the bigger fault was mine, because I was
			never serious enough about it myself.
		</p>

		<p>
			I also enjoy programming 
			and building stuff on my own, which is the
			primary reason for the creation of this 
			website. In my leisure time I also listen to 
			music, its quite fun, although my music taste 
			is not something everybody would like. I often 
			leave YouTube on autoplay and I don't have 
			many playlists made, except maybe a few on
			Spotify.
		</p>

		<h3>My old YouTube Channel</h3>
		<p>
			I own a
			<a href="https://www.youtube.com/@TechToppers" target="_blank">YouTube channel</a>
			which I made back in the day when I was in
			6<sup>th</sup> or 7<sup>th</sup> grade. Seeing
			these old videos make me feel very embarassed
			and I cringe really hard at it, but it what
			taught me the skill of persevering and learning 
			quite a few skills. I learned a <i>lot</i> of 
			video editing and photo manipulation so that I
			could put quality content on my channel. I 
			learnt Photoshop, Illustrator, Premiere Pro, a
			very little After Effects as well. It made me 
			a bit better at design than everyone else, I
			feel I'm more creative in terms of designing 
			and color choices compared to other people. I'm
			really happy that I took this initiative back
			then. I learnt how to speak English, even 
			though I still struggle with my speaking skills, 
			but I think it will improve with time.
			Why did I stop posting content there?
			Well, my interest shifted towards mathematics
			by the end of 8<sup>th</sup> grade.
		</p>

		<h2>My Linux Setup</h2>
		<p>
			I've described most of my setup on Github. 
			<a href="https://github.com/SatisfiedMagma/Hot-Dotfiles" target="_blank">Click here</a>
			to check out the repository. The README file 
			summarizes everything perfectly. If I feel 
			the need to elaborate, then I'll surely 
			elaborate my setup someday.
		</p>

		<h2 id="FAQs">FAQs</h2>
		<p>
			Not famous enough yet, so no real questions here
			as of now.
		</p>
	</div>

</MainLayout>
