body {
  font-size: 19px;
}

.blog-header {
  background: linear-gradient(to bottom, #201744, #403361);
  padding: 2rem 1rem; 
  text-align: center; 
  margin: auto;
}

.blog-header h1,
.blog-header .date,
.blog-header .author,
.blog-header .description,
.blog-header .tags {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.blog-header h1 {
  font-weight: 600;
  color: white;
  padding: 0;
  margin: 0 auto;
}

.blog-header .date {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.6);
  margin: 0 auto 0.5rem auto;
}

.pubdate {
  color: white;
}

.blog-header .author {
  font-size: 17px;
  font-weight: 400;
  color: white;
  padding: 10px;
  margin-bottom: 0.5rem;
}

.author-text {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
}

.blog-header .tags {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: center; /* centers the tag pills */
  padding-bottom: 0;
}

.tag {
  background: #e2e8f0;
  padding: 0.25rem 0.75rem;
  border-radius: 200px;
  font-size: 0.875rem;
  font-weight: 400;
  color: #1a202c;
}

.blog-header .description {
  color: white;
  max-width: 750px;
  font-size: 17px;
  line-height: 1.5;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.blog-content {
  max-width: 950px;
  margin: auto;
  padding: 1.7rem;
}

.blog-content > p {
  line-height: 1.8;
  margin-bottom: 1rem;
}

.blog-content  h1 {
  margin: 1.2rem auto 1.2rem 0;
  padding-left: 0.5rem;
  padding-top: 0;
  font-size: 2.2rem;
  color: black;
}

.blog-content ul,
.blog-content ol {
  margin: 0.5rem 0 1rem 0;
  padding-left: 1.75rem;
}

.blog-content ol li {
  margin: 0.5rem 0;
  padding-left: 0.25rem;
  line-height: 1.6;
}

.blog-content > * + * {
  margin-top: 0;
}

.blog-content p + ul,
.blog-content p + ol,
.blog-content ul + p,
.blog-content ol + p {
  margin-top: 0.5rem;
}

.blog-content .center {
	display: flex;
	justify-content: center;
	padding-bottom: 1rem;
}

.blog-content .problems {
	padding: 0.7em;
	padding-top: 0;
	border: 2px solid darkblue;
	border-radius: 15px;
	background-color: rgba(58,39,245,0.1);
	margin-bottom: 1rem;
}

.blog-content h2 {
	padding-top: 1.5rem;
}
