.proof p:first-child:before{
    content: "Proof: \00A0"; font-style: italic;
}

.proof p:last-child:after{
    content: "\2610"; float:right;
}

.proof {
	margin-bottom: 1rem;
}

/* .proposition, */
/* .corollary, */
/* .claim { */
/*     margin: 1.5rem 0; */
/*     padding: 1rem 1.5rem; */
/*     border-left: 7px solid; */
/*     border-radius: 0.1rem; */
/* } */
/**/

/* .proposition { */
/*     border-left-color: rgb(18,18,255); */
/*     background-color: rgba(18,18,255,0.2); */
/* } */
/* .corollary { */
/*     border-left-color: #d97706; */
/*     background-color: #fffbeb; */
/* } */
/* .claim { */
/*     border-left-color: rgb(34,139,34); */
/*     background-color: rgba(34,139,34,0.2); */
/* } */
/**/
/* .proposition::before { */
/*     counter-increment: proposition-counter; */
/*     content: "Proposition " counter(proposition-counter) ":"; */
/*     display: block; */
/*     font-weight: 700; */
/*     font-style: normal; */
/*     margin-bottom: 0.5rem; */
/*     font-size: 1.1rem; */
/* } */
/* .corollary::before { */
/*     counter-increment: corollary-counter; */
/*     content: "Corollary " counter(corollary-counter) ":"; */
/*     display: block; */
/*     font-weight: 700; */
/*     font-style: normal; */
/*     margin-bottom: 0.5rem; */
/*     font-size: 1.1rem; */
/* } */
/* .claim::before { */
/*     content: "Claim \2014"; */
/*     /* display: block; */
/*     font-weight: 700; */
/*     margin-bottom: 0.5rem; */
/*     font-size: 1.1rem; */
/*     color: rgb(34,139,34); */
/* } */
/**/
/* .proposition[data-title]::before { */
/*     content: "Proposition " counter(proposition-counter) ": (" attr(data-title) ")"; */
/*     font-size: 1.28rem; */
/* } */
/* .corollary[data-title]::before { */
/*     content: "Corollary " counter(corollary-counter) ": (" attr(data-title) ")"; */
/*     font-size: 1.28rem; */
/* } */
/* .claim[data-title]::before { */
/*     content: "Claim (" attr(data-title) ") \2014 "; */
/*     font-size: 1.1rem; */
/*     color: rgb(34,139,34); */
/* } */

