---
import MainLayout from "../../layouts/bloghome_layout.astro";
import "../../styles/blog_home.css"
---

<MainLayout pageTitle="Pragyan Pranay | Home">

	<div class="content">
	</div>	

</MainLayout>
