---
import MainLayout from "../../layouts/mainlayout.astro";
---

<MainLayout pageTitle="Pragyan Pranay | Olympiads">
	<style>
	h1 {
		padding-top: 0px;
	}
	</style>
    <div class="content">
        <h1>Olympiads</h1>
        <p>
			This page is dedicated to resources and some
			tips for olympiads for anyone who wants to
			prepare for it. All the tips are highly
			personal and based on personal experience.
			People are free to criticize and
            debate about what I feel.
        </p>

        <h2>Personal Experience</h2>
        <p>
			I started Math Olympiads back when my 8th
			grade ended. Well, back in the day resources 
			were plenty, no denying that, but awareness 
			was very less for olympiads. I stumbled upon
			the IMO by this <a href="https://www.youtube.com/watch?v=M64HUIJFTZM">3Blue1Brown video</a>, for IMO 2011/2.
			I was captivated by this deceptive charm 
			of combinatorics because after seeing the 
			solution, I felt <i>"this isn't too hard, I can 
				do it too..."</i> Little did I know that 
			solving a problem on exam and watching a
			solution were two completely different things.
		</p>
		<p>
			I had no idea how the olympiad
			cycle worked and had to figure everything out.
			When I googled the how the selection process
			worked, I somehow stumbled on the old
			selection process which said that everything
			starts from RMO. I was wrong of course, I had
			to cross the huge ocean of PRMO(its now called
			IOQM).
        </p>

		<p>
			My life completely changed. I went to YouTube
			to find some appropriate lectures and I
			stumbled upon 
			<a href="https://www.youtube.com/@UAOlympiadCorner">Prashant Jain Sir's YouTube Channel.</a>
			Its Vedantu which has brought Olympiads
			a little more into limelight these days, but 
			I personally feel PJ Sir was the one who 
			started everything and made it popular. It 
			is no exaggeration due to him and his lectures, 
			I was even able to start my olympiad preparation.
			Although, being a stern hater of objective type 
			examinations, I never studied from him very 
			seriously beyond a point. This decision 
			still haunts me today. Soon 
			enough, via YouTube comments and with some 
			personal stocking skills, I made friends 
			online and joined an online Discord Server. 
			This server, changed everything. It was COVID 
			time when I was preparing for olympiads and 
			school classes were online. I used to ditch all 
			of them and spend hours chatting with these 
			guys, learning and discussing math. Even
			philosophical topics, political topics, some 
			topics which I can't write here😉. I think 
			this was by far the best peer group I ever 
			encountered and I wonder if I will ever find
			something better than them... It was just not a 
			peer group but by far the best friends I've made 
			in life. For a cinematic ending, I've met two 
			of people in person in college too!
		</p>

		<h2>Resources</h2>
		<p>
			There are a number of resources avaiable
			nowadays. The scenario has changed a lot in
			India over past 4-5 years. I'm also no longer
			very active in the current Olympiad scenario,
			so I'll share all the resources which I found
			during my preparation days and I feel are 
			still relevant in the current contests scenario.
		</p>
    </div>
</MainLayout>
