<footer>
    <div class="footer-rights">
		&copy2026 Pragyan Pranay |&nbsp;
        <span class="source">
            Made with <a href="https://astro.build/"
                >Astro <i class="nf nf-dev-astro"></i></a
            > |&nbsp;Source Code at <a
                href="https://github.com/SatisfiedMagma/satisfiedmagma.github.io"
                >GitHub</a
            >
        </span>
    </div>
</footer>
