<nav>
    <div class="left">
        <b>To The Top 🚀</b>
    </div>

    <div class="right">
        <ul>
            <li><a href="/">Home</a></li>
			<li><a href="/writings/">Writings</a></li>
			<li class="dropdown">Olympiads ⏷
				<ul class="dropdown-menu">
					<li><a href="/olympiads/resources_advices">Resources and Advice</a></li>	
					<li>Problems &amp Solutions</li>	
				</ul>
			</li>
            <li><a href="">Projects</a></li>
			<li><a href="/about_me/about_me">About Me ⏷</a>
				<!-- <ul class="dropdown-menu"> -->
				<!-- 	<li><a href="/about_me/about_me#FAQs">FAQs</li> -->
				<!-- </ul> -->
			</li>
        </ul>
    </div>
</nav>
