<nav>
    <div class="left">
		<b><a href="https://aops.com/community/user/603664" target="_blank">🔥SatisfiedMagma</a></b>
    </div>

    <div class="right">
        <ul>
            <li><a href="/">Home</a></li>
			<li class="dropdown"><a href="/writings/blogs">Writings ⏷</a>
				<ul class="dropdown-menu">
					<li><a href="/writings/blogs/">Blogs</a></li>
					<li><a href="/writings/isi_discussion">ISI/CMI Solutions</a></li>
				</ul>
			</li>
			<li class="dropdown">Olympiads ⏷
				<ul class="dropdown-menu">
					<li><a href="/olympiads/resources_advices">Resources and Advice</a></li>	
					<li>Problems &amp Solutions</li>
				</ul>
			</li>
            <li><a href="">Projects</a></li>
			<li class="dropdown"><a href="/about_me/about_me">About Me ⏷</a>
				<ul class="dropdown-menu">
					<li><a href="/about_me/about_me#FAQs">FAQs</a></li>
				</ul>
			</li>
        </ul>
    </div>
</nav>
