---
export interface Props {
	title?: string;
}
const { title } = Astro.props;
---

<div class="theorem">
	<div class="theorem-header">
    <span class="theorem-label">Theorem <span class="theorem-number">:</span></span>
    {title && <span class="theorem-title">({title}) </span>}
  </div>
	<div class="theorem-body">
		<slot />
	</div>
</div>

<style>
	.theorem {
		margin: 1.5rem 0;
		padding: 1rem 1.5rem;
		padding-bottom: 0.3rem;
		border-left: 7px solid rgb(128,0,128);
		background-color: rgba(128,0,128,0.2);
		border-radius: 2px;
		counter-increment: theorem-counter;
	}

	.theorem-header {
		padding-bottom: 0.6rem;
		color: rgba(128,0,128);
		font-weight: 700;
		font-size: 1.3rem;
	}

	.theorem-body {
		display: inline;
		font-weight: normal;
		font-style: normal;
	}
  
	.theorem-number::before {
		content: counter(theorem-counter);
	}

	.theorem-title {
		font-weight: normal;
		font-style: italic;
	}

</style>

