---
import Nav from "../components/Nav.astro";
import Foot from "../components/Foot.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><circle cx=%2250%22 cy=%2250%22 r=%2250%22 fill=%22white%22/><text y=%22.99em%22 font-size=%2270%22 text-anchor=%22middle%22 x=%2250%22>🔥</text></svg>">
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
		/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
		<link rel="stylesheet" href="https://www.nerdfonts.com/assets/css/webfont.css">
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
			@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
		</style>
		<title>{pageTitle}</title>
    </head>
    <body>
        <Nav />

        <main>
            <slot />
        </main>

        <Foot />
    </body>
</html>
